<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Queries" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseIII\ADSAutomationPhaseIII\TestData\QuerySripts\"></add>
		<add key="TC_Files_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseIII\ADSAutomationPhaseIII\TestData\TC_Files\"></add>
		<add key="TC_10587_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseIII\ADSAutomationPhaseIII\TestData\TC_10587\"></add>
		<add key="TC_10569_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseIII\TestData\TC_10569"></add>
		<add key="TC_10585_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseIII\TestData\TC_10585\"></add>
		<add key="TC_10588_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseIII\TestData\TC_10588\"></add>
		<add key="APP_PATH" value="C:\Program Files\Aqua Data Studio 20.0 - 64bit\datastudio.exe"></add>
		<add key="APP_CONSOLE_PATH" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseIII\ADSAutomationPhaseIII\bin\Debug\ADSAutomationPhaseIII.exe"></add>
		<add key="APP_CONSOLE_RANOREX_PATH" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseIII\ADSAutomationPhaseIII\bin\Debug\ADSAutomationPhaseII.exe"></add>
		<add key="Retries" value="3"></add>
	</appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
</configuration>