<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- TEST DATA PATH START	-->
		<add key="TC1_10538_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10538\"></add>
		<add key="TC_10547" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10547\"></add>
		<add key="TC_10556" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10556\"></add>
		<add key="MSEXCEL_PATH" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\MSExcel\"></add>
		
		<add key="TC_10590" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10590\"></add>
		<add key="TC_10591" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10591\"></add>
		<add key="TC_10592" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10592\"></add>
		<add key="TC_10593" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10593\"></add>
		<add key="TC_10600" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10600\"></add>
		<add key="TC1_10601_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10601\"></add>
		<add key="TC_10602" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10602\"></add>
		<add key="TC_10606" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10606\"></add>
		<add key="TC1_10594_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10594\"></add>
		<add key="TC1_10605_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10605\"></add>
		<add key="TC_10603_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10603\"></add>
		<add key="TC_10609_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10609\"></add>
		<add key="TC_10610_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10610\"></add>
		<add key="TC1_10538_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10538\"></add>
		<add key="TC_10547" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10547\"></add>
		<add key="TC_10556" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10556\"></add>
		<add key="TC_10604_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10604\"></add>
		<add key="TC_10608_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10608\"></add>
		<add key="TC_10595_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10595\"></add>
		<add key="TC_10596_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10596\"></add>
		<add key="TC_10598_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10598\"></add>
		<add key="TC_10599_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10599\"></add>
		<add key="TC_10589_Path" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\TC_10589\"></add>
		
		
		<!-- TEST DATA PATH END	-->
		
		<!-- APPLICATION SETTINGS -->
		<add key="Queries" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\TestData\QueryScripts\"></add>
		<add key="APP_PATH" value="C:\Program Files\Aqua Data Studio 20.0 - 64bit\datastudio.exe"></add>
		<add key="APP_CONSOLE_PATH" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\bin\Debug\ADSAutomationPhaseII.exe"></add>
		<add key="APP_CONSOLE_RANOREX_PATH" value="C:\Users\Admin\Documents\Ranorex\RanorexStudio Projects\ADSAutomationPhaseII\ADSAutomationPhaseII\bin\Debug\ADSAutomationPhaseII.exe"></add>
		<!-- APPLICATION SETTINGS END -->
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<runtime>
		<enforceFIPSPolicy enabled="false" />
	</runtime>
</configuration>